In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airlines_data_part.csv')

In [5]:
df.dtypes #Showing data types of all the columns
#object represent it is of string data type

passenger_name     object
day                 int64
month               int64
departure_city     object
arrival_city       object
sales             float64
dtype: object

In [7]:
df.describe() #describe all stats of numeric i.e integer and float data types
#e+ mean 10 raise to the power

                day         month         sales
count  1.016598e+06  1.016598e+06  1.016598e+06
mean   1.395915e+01  7.312290e+00  1.061872e+05
std    8.691542e+00  5.186397e-01  9.916200e+04
min    1.000000e+00  6.000000e+00  3.400000e+03
25%    7.000000e+00  7.000000e+00  4.400000e+04
50%    1.200000e+01  7.000000e+00  7.520000e+04
75%    2.100000e+01  8.000000e+00  1.342000e+05
max    3.100000e+01  8.000000e+00  1.526100e+06

In [12]:
df.sales.describe() #showing the stats of the sales columns

count    1.016598e+06
mean     1.061872e+05
std      9.916200e+04
min      3.400000e+03
25%      4.400000e+04
50%      7.520000e+04
75%      1.342000e+05
max      1.526100e+06
Name: sales, dtype: float64

In [10]:
df['sales'].mean() #showing the mean of only sales column

106187.22789145759

In [13]:
df['sales'].median() #showing median of only sales column

75200.0